<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DiscordPresenceUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <DiscordPresenceUI.Properties.Settings>
      <setting name="AppId" serializeAs="String">
        <value />
      </setting>
      <setting name="GameState" serializeAs="String">
        <value />
      </setting>
      <setting name="GameDetails" serializeAs="String">
        <value />
      </setting>
      <setting name="StartTimestamp" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EndTimestamp" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LargeImageKey" serializeAs="String">
        <value />
      </setting>
      <setting name="LargeImageText" serializeAs="String">
        <value />
      </setting>
      <setting name="SmallImageKey" serializeAs="String">
        <value />
      </setting>
      <setting name="SmallImageText" serializeAs="String">
        <value />
      </setting>
      <setting name="StartWithWindows" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReduceToSysTray" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Theme" serializeAs="String">
        <value>pack://application:,,,/FirstFloor.ModernUI;component/Assets/ModernUI.Dark.xaml</value>
      </setting>
      <setting name="StartInSystray" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Locale" serializeAs="String">
        <value />
      </setting>
    </DiscordPresenceUI.Properties.Settings>
  </userSettings>
</configuration>